<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Chattons !{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
    </head>
    <body>
    <div id="app">
        <chat></chat>
    </div>

        {{ encore_entry_script_tags('app') }}
    </body>
</html>
